    <div class="jumbotron">
      <div class="col-xs-12 col-md-6 jumbo-left">
        <img id="user-photo" src="https://image.ibb.co/idcZiv/Full_Size_Render.jpg">
       
      </div>
      <div class="col-xs-12 col-md-6 jumbo-right ">
          <h4> Hey! I'm Gabriel. </h4>
          <h6>Software Engineering student</h6>
          <h6>Software Developer</h6>
          
          <div>
            <i class="fa fa-envelope-o" aria-hidden="true"></i> gabriel.amazonas.eng@gmail.com
          </div>
          <div>
            <i class="fa fa-volume-control-phone" aria-hidden="true"></i> +55 (21)99669-1409
          </div>
      </div>
     
    </div>